  
  /* Grid styles */
  .post2-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 40px auto 30px;
    
  }
  
  
   article {
    position: relative;
  }
 

  
  .article2, .article1 {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 900px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
    z-index: -1;
    position: relative;
      
  }
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  